/* Add here all your CSS customizations */
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i');

/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap'); */


body,
p {
    font-size: 16px;
    color: #333;
}

p.less-bottom-margin {
    margin-bottom: .5em;
}

.dyslexia-logo {
    margin: 0 0 20px 20px;
    width: 200px;
}

.vsl-logo {
    float: right;
    height: 70px;
    margin: 0 15px;
}

.state-edu-logo {
    width: 300px;
}

.tab-pane a {
    text-decoration: underline;
}

.tab-pane h2 {
    margin: .25em 0 .5em 0;
}

.login-panel p {
    font-size: 1em;
    margin-bottom: 12px;
    line-height: 1.2;
}

.mt-20 {
    margin-top: 20px;
    margin-bottom: 0;
}

.mt-40 {
    margin-top: 40px;
    margin-bottom: 0;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-40 {
    margin-bottom: 40px;
}

h1.headline {
    color: #c62b29;
    margin: .75em 0 .5em 0;
}

h1.headline sup {
    font-size: 18px;
    vertical-align: super;
    font-weight: normal;
    margin-left: 5px;
}

p.lead {
    line-height: 1.6;
}

a[x-apple-data-detectors] {
    color: inherit !important;
    text-decoration: none !important;
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
}


/* MS specific colors */

.ms-dark-blue {
    color: #082e60;
}

.ms-light-blue-bg {
    background: #21afe5;
}

.ms-green-bg {
    background: #0ab592;
}

.ms-yellow-bg {
    background: #dfb825;
}

.ms-purple-bg {
    background: #5f174e;
}

.ms-light-blue {
    color: #21afe5;
}

.ms-green {
    color: #0ab592;
}

.ms-yellow {
    color: #dfb825;
}

.ms-purple {
    color: #5f174e;
}

.ms-red {
    color: #c62b29;
}

.border-radius {
    border-radius: 8px;
}

.buttons {
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    color: #ffffff;
    text-decoration: none;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    text-transform: uppercase;
    display: inline-block;
}

a.buttons:hover {
    color: #ffffff;
}


.quote {
    background: #082e60;
    padding: 30px;
}

.quote p {
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
    line-height: 1.5;
}

.quote p:last-child {
    margin-bottom: 0;
}

.quote .no-italic {
    font-style: normal;
}

.sales-rep p {
    margin-bottom: .5em;
}

p.sales-rep-name {
    font-size: 1.3em;
    margin: 0 0 .25em 0;
}

p.sales-rep-info {
    line-height: 1.25em;
}

#footer {
    background: #4a4f55;
}

@media(min-width: 1200px) {
    .img-responsive {
        display: inline;
    }
}

@media(max-width:767px) {

    .quote {
        padding: 10px;
    }

    .quote p {
        font-size: 1em;
    }

}