<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    &ldquo; &rdquo;
    <div class="item">
        <div class="quote-container">
            <p class="quote-body"><em>LETRS</em> training helped to integrate the science of reading. Teachers have a
                reason and a system as to how to implement research-based strategies to build better readers. The use of
                <em>LETRS</em> helped us to keep balanced literacy at the forefront of our reading instruction. </p>
            <p class="quote-credit">Shannon Whitehead, Principal</p>
        </div>
    </div>
    <div class="item">
        <div class="quote-container">
            <p class="quote-body">Phoneme/Graphemes mapping - a wonderful way to help students discover how letters fit
                together to make words. Completely changed how I taught spelling. </p>
            <p class="quote-credit">Donna Walker, Teacher</p>
        </div>
    </div>
    <div class="item">
        <div class="quote-container">
            <p class="quote-body">I have only been a principal for a short time at this school, but I previously served
                as a regional coordinator over the coach that was at this school. When MDE entered this building,
                teachers were not explicitly teaching phonics or utilizing literacy centers. Now the school has
                implemented Phonics First as well as having centers based on the five components of reading. There has
                been a drastic change in the way reading is taught.</p>
            <p class="quote-credit">Emily Eaton, Principal</p>
        </div>
    </div>
    <div class="item">
        <div class="quote-container">
            <p class="quote-body">We keep student writing pieces in the hallway. The quality of our writing continues to
                improve as time passes. At the end of the second year, I was amazed at how far our writing had come. Our
                students were reading the text, understanding it, and then producing quality writing. To me, that was
                proof that what we were doing was working. </p>
            <p class="quote-credit">Brad Cox, Principal</p>
        </div>
    </div>
    <div class="item">
        <div class="quote-container">
            <p class="quote-body"><em>LETRS</em> explains the why and then gives you the how. I know I am meeting my
                students needs while using the suggested activities.</p>
            <p class="quote-credit">Donna Walker, Teacher</p>
        </div>
    </div>
    <div class="item">
        <div class="quote-container">
            <p class="quote-body">I would tell t[teachers] that this is the ultimate professional development and all
                teachers K-3rd grades, as well as principals should participate. It is research based and grounded in
                the science of reading. It makes an extraordinary difference in the reading instruction in schools. </p>
            <p class="quote-credit">Emily Eaton, Principal</p>
        </div>
    </div>
    <div class="item">
        <div class="quote-container">
            <p class="quote-body">Our staff really bought into it. We took over a school that had been a D or F school
                for several years in a row. At the end of year two, we were a B rated school. </p>
            <p class="quote-credit">Brad Cox, Principal</p>
        </div>
    </div>
    <div class="item">
        <div class="quote-container">
            <p class="quote-body">It was the best professional development I had as a teacher. As a literacy coach, I
                could see the impact it made on individual teachers and schools as a whole. The year the majority of my
                teachers were trained, the school moved from a D to a B rating. I also taught some college courses,
                Early Literacy I and II, at Blue Mountain College at night for teacher assistants. The first year it was
                taught with a traditional textbook. The next year, we used the <em>LETRS</em> books as our curriculum,
                and the difference was astounding. Teachers were better prepared for the classroom, more grounded in the
                science of reading, and they had a higher pass rate on the Foundations of Reading assessment.
                <em>LETRS</em> has been wonderful for our Mississippi teachers.</p>
            <p class="quote-credit">Angela Rutherford, Teacher</p>
        </div>
    </div>
    <div class="item">
        <div class="quote-container">
            <p class="quote-body">My A-Ha moment was making a connection to implement <em>LETRS</em> fluidly from grades
                K-5. All of our teachers are "reading" teachers and phonics drills are implemented daily in grade K-5 to
                help close the reading level gaps that we faced at our school. </p>
            <p class="quote-credit">Shannon Whitehead, Principal</p>
        </div>
    </div>
    <div class="item">
        <div class="quote-container">
            <p class="quote-body">[I would tell teachers to] go! We all need as many tools in our toolbox as possible.
                This training will benefit you and every student who enters your class. </p>
            <p class="quote-credit">Donna Walker, Teacher</p>
        </div>
    </div>
    <div class="item">
        <div class="quote-container">
            <p class="quote-body">Our instruction shifted to focus more on phonics and phonemic awareness. We focused
                more on the basics to help improve our student achievement. Our staff really bought into our plan. They
                worked together so well with each other and our literacy coach to improve instruction. We start our
                literacy block with Heggerty and Phonics First. </p>
            <p class="quote-credit">Brad Cox, Principal</p>
        </div>
    </div>
    <div class="item">
        <div class="quote-container">
            <p class="quote-body"><em>LETRS</em> helped to build the knowledge base as to how children learn to read. In
                order to teach reading, we must understand the science of reading. <em>LETRS</em> gives research-based
                strategies to help teachers become better teachers and students to become better readers. We All Become
                Better. That's our goal. </p>
            <p class="quote-credit">Shannon Whitehead, Principal</p>
        </div>
    </div>
</body>

</html>